.toc-container {
  .toc-title {
    cursor: pointer;
    position: relative;
    padding-left: 2.5rem; // Space for the arrow

    &::before {
      content: "[+]";
      position: absolute;
      left: 0;
    }

    &.expanded::before {
      content: "[-]";
    }
  }

  .toc-list {
    display: block;
    margin-top: 0.5rem;

    &.collapsed {
      display: none;
    }
  }
}
